A2/S2.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/A2" 
	xmlns:tns="http://www.example.org/A2" elementFormDefault="unqualified">
	<element name="forecast" type="tns:forecast"/>
	
	<complexType name="forecast">
		<sequence>
			<element name="weather" type="tns:weather" maxOccurs="unbounded"/>
		</sequence>
		<attribute name="queryTime" type="string" use="required"/>
		<attribute name="queryLocation" type="string" use="required"/>
	</complexType>
	
	<complexType name="weather">
		<sequence>
			<element name="year" type="tns:year"/>
			<element name="month" type="tns:month"/>
			<element name="date" type="tns:date"/>
			<element name="dayOfWeek" type="tns:dayOfWeek"/>
			<element name="overall" type="string"/>
			<element name="overallCode" type="tns:overallCode"/>
			<element name="highest" type="tns:temp"/>
			<element name="lowest" type="tns:temp"/>
		</sequence>
		<attribute name="yyyymmdd" type="tns:ymd"/>
	</complexType>
	
	<simpleType name="year">
		<restriction base="int">
			<pattern value="[12][0-9]{3}"/>
		</restriction>
	</simpleType>
	
	<simpleType name="month">
		<restriction base="int">
		 	<minInclusive value="1"/>
		 	<maxInclusive value="12"/>
		</restriction>
	</simpleType>
	
	<simpleType name="date">
		<restriction base="int">
			<pattern value="[0-3]?[0-9]"/>
		</restriction>
	</simpleType>

	<simpleType name="dayOfWeek">
		<restriction base="string">
			<enumeration value="Mon"/>
			<enumeration value="Tue"/>
			<enumeration value="Wed"/>
			<enumeration value="Thu"/>
			<enumeration value="Fri"/>
			<enumeration value="Sat"/>
			<enumeration value="Sun"/>
		</restriction>
	</simpleType>
	
	<simpleType name="overallCode">
		<restriction base="string">
			<enumeration value="cloudy"/>
			<enumeration value="partlySunny"/>
			<enumeration value="rain"/>
			<enumeration value="sunny"/>
			<enumeration value="thunderstorm"/>
		</restriction>
	</simpleType>
	
	<simpleType name="temp">
		<restriction base="int">
		 	<minInclusive value="-100"/>
		 	<maxInclusive value="70"/>
		</restriction>
	</simpleType>
	
	<simpleType name="ymd">
		<restriction base="int">
			<pattern value="[12][0-9]{3}[01][0-9][0-3][0-9]"/>
		</restriction>
	</simpleType>
</schema>